
body {
    background: #d3caaa url(blue-background.png) repeat 0 0;
    margin: 20px;
    font-size: 16px;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #000;
}

tt, pre {
    font-family: "Courier New", Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: solid;
    border-bottom-width: thin;
    clear:both;
}

h1 {
    color: black;
}

h2 {
    color: brown;
}

cite {
    font-size: small;
    color: gray;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
}



/* the words when mouse is over */
a {
    text-decoration: none;
    border-bottom: dotted;
    border-bottom-style: dotted;
    border-bottom-width: thin;
}

#header a {
    text-decoration: none;
    border: none;
}

a:link {
    color: rgb(0, 85, 126);
}

a:visited {
    color: rgb(0, 50, 75);
}

a:hover {
    color: rgb(0, 170, 255);
}

a:active {
    color: rgb(255, 215, 0);
}

a:hover {
    background-color: #FFFF00;
    color:#000;
}

a:active {
    background-image: none;
}

.right {
    float:right;
    margin-left: 15px;
}

#page {
    background: #ffffff;
    width: 950px;
    margin: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    clear: both;
    padding: 10px 30px;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

div.section {
    padding: 5px;
    padding-bottom: 0px;
    border-width: thin;
    border-style: none;
}

div.strike {
    text-decoration: line-through;
}

ul#hoverable li:hover {
    color: #101;
    background-color: #FE9;
}

ul#hoverable {
    color: #101;
    background-color: #EEE;
}

table#courseschedule  {
    border:1px solid #ccc;
    background: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

table#courseschedule th {
    font-weight: bolder;
    border-bottom: 2px solid #000000;
    padding: 10px 8px;
}

table#courseschedule td {
    padding: 9px 8px 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-left: 1px dotted; 
    text-align: left;
}

table#courseschedule tr {
    padding: 9px 8px 0;
}

table#courseschedule tbody tr:hover td {
    color: #101;
    background-color: #FE9;
}

table#courseschedule ul {
    padding-left:20px;
}

table {
    /*margin: 0px 0px;*/
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

td {
    border: inset;
    border-width: 1px;
    border-style: solid;
}

td.hovercol, th.hovercol {
    background-color: #abc;
}

#jsMath_button {
    visibility:hidden;
}