name: User's Guide
on:
    schedule:
        # Rebuild daily, just after (30 minutes after) any tags were updated.
        # I'd prefer to rebuild in response to added tags, but that's
        # much harder to make happen on github actions.
        - cron: '30 0 * * *'

    push:  # Build the docs for any branch (we only push to GCP when building from main)
        branches:
            - '*'

    create:  # Any time a tag is added, rebuild the docs.
        branches:
            - main

    pull_request:  # Build the docs for any PR
        branches:
            - '*'
jobs:
    build-ug:
        name: Sphinx docs
        runs-on: macos-10.15
        defaults:
          run:
            shell: bash -l {0}

        steps:
            - uses: actions/checkout@v1

            - name: Set up python
              uses: actions/setup-python@v1
              with:
                  python-version: 3.8

            - name: Setup conda environment
              uses: conda-incubator/setup-miniconda@v2
              with:
                  activate-environment: env
                  auto-update-conda: true
                  python-version: 3.8
                  channels: conda-forge

            - name: Install python dependencies with conda
              run: conda env update --file environment.yml

            - name: Check for unused files
              run: |
                exitcode=0
                # for each file in the source/ directory
                for file in $(find source -type f -mindepth 1); do

                  # if it's not RST or the config file
                  if [[ $file != *.rst ]] && [[ $file != source/conf.py ]]; then

                    # count how many times it's used and use xargs to strip whitespace
                    filecount=$(grep -r $(basename $file) source | wc -l | xargs)

                    # expect each file to be used one time
                    if [ "$filecount" -eq 0 ]; then
                      echo "Error: $file is used 0 times"
                      exitcode=1
                    fi
                  fi
                done
                exit $exitcode

            - name: Check out sample data
              run: make get_sampledata

            - name: Check links
              # this has rarely run for hours for no apparent reason
              timeout-minutes: 2
              continue-on-error: true
              run: make linkcheck

            - name: Build sphinx docs
              run: make html

            - name: Set up GCP SDK
              if: ${{ github.ref == 'refs/heads/main' }}
              uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
              with:
                  version: '281.0.0'
                  service_account_key: ${{ secrets.GCP_SERVICE_ACC_KEY }}

            - name: Upload to GCS
              if: ${{ github.ref == 'refs/heads/main' }}
              run: |
                BUCKET=gs://releases.naturalcapitalproject.org/invest-userguide/latest
                gsutil -m rsync -dr build/html $BUCKET
                # Cache appears to be reset each time we upload a new blob.
                # Re-set the cache here to allow UG editors to immediately view
                # changes to the rendered HTML.
                gsutil -m setmeta -r -h "Cache-control:no-store" $BUCKET

            - name: Save UG artifacts
              uses: actions/upload-artifact@v1
              with:
                  name: InVEST User's Guide
                  path: build/html
